<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1 style="color:{{color}}">Hola {{nombre}} {{surname}}!</h1>
    <form action="/ta/parametroderuta">
        <label for="">Color</label>
        <input type="text" name="color" id="">
        <label for="">Name</label>
        <input type="text" name="name" id="">
        <label for="">Surname</label>
        <input type="text" name="surname" id="">
        <button type="submit">GET TA</button>
    </form>
</body>
</html>